link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import", href="/bower_components/iron-media-query/iron-media-query.html")
link(rel="import", href="/bower_components/iron-form/iron-form.html")
link(rel="import", href="/bower_components/iron-list/iron-list.html")
link(rel="import", href="/bower_components/paper-fab/paper-fab.html")
link(rel="import", href="/bower_components/paper-spinner/paper-spinner.html")
link(rel="import", href="/bower_components/iron-icon/iron-icon.html")
link(rel="import", href="/bower_components/iron-icons/iron-icons.html")
link(rel="import", href="/bower_components/iron-pages/iron-pages.html")
link(rel="import", href="/bower_components/bwt-uploader/bwt-uploader.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")
link(rel="import", href="/src/d4l-view/d4l-view-behaviors.html")

link(rel="import", href="/src/d4l-header/d4l-header.html")
link(rel="import", href="/src/d4l-campaign/d4l-campaign-behavior.html")
link(rel="import", href="/src/d4l-campaign/d4l-campaign-img.html")

link(rel="import", href="/src/d4l-theme.html")
link(rel="import", href="/src/shared-styles.html")

script(src="/bower_components/sugar/dist/sugar.min.js")

dom-module#d4l-meme-dialog
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment")
    style(include="d4l-dialog-styles").
      :host{
      }

      .dialog-body:not([mobile]) {
        width: 400px;
      }
      .dialog-body[mobile] {
        width: 75vw;
      }

    iron-media-query(query="(max-width: 600px)", query-matches="{{isMobile}}")
    paper-dialog#dialog(on-iron-overlay-closed="__dialogClosed", with-backdrop)
      .dialog-header
        .layout.horizontal.center
          h2 {{__title}}
          .flex
          paper-icon-button#close(icon="d4l-icons:close", on-click="__closeDialog")

      form#form(is="iron-form", on-change="__formChanged", on-iron-form-presubmit="__formPresubmit")
        .dialog-body(mobile$="[[isMobile]]")
          paper-input(label="Title", value="{{__item.title}}", error-message="A title is required", required, auto-validate)
          paper-input(label="Description", value="{{__item.description}}")

        .dialog-footer
          .layout.horizontal.center
            button.no-style(type="submit")
              paper-button#submit(autofocus) [[__action]]

  script.
    Polymer({
      is: 'd4l-meme-dialog',
      behaviors: [Polymer.D4LLogging, Polymer.D4LFormDialog],
      properties: {
        logLevel: {
          type: Number,
          value: 4
        },
        name: {
          value: 'Thunderclap'
        }
      }
    });

dom-module#d4l-meme-details
  style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment iron-flex-factors")
  style(include="shared-styles")
  style(include="shared-detail-styles").
  style(include="shared-layout-styles").
    :host {
      display: block;

      padding: var(--default-page-padding);
      padding-top: 95px;
    }

    .page-sidebar, .page-content {
      width: 100%;
    }

    .page-sidebar:not([mobile]) {
      width: 25%;
      padding-right: 30px;
      box-sizing: border-box;
    }
    .page-content:not([mobile]) {
      width: 75%;
    }

    #uploader {

    }

    .card {
      margin-bottom: 30px;
    }
    .card.flex{
      flex: none;
      width: 100%;
    }
    .card.flex:not([mobile]) {
      flex: 1;
    }
    .card-group > .card {
      margin-right: 30px;
    }
    .card-group > .card:last-child {
      margin-right: 0px;
    }

  template
    iron-media-query(query="(max-width: 600px)", query-matches="{{isMobile}}")

    d4l-meme-dialog#memeDialog(
      open="{{__openEditDialog}}",
      item="[[__edit]]",
      index="0",
      on-update="__saveCampaign"
    )

    .layout.horizontal.center
      h1 [[campaign.name]]
      paper-icon-button(icon="d4l-icons:edit-circle", on-tap="__editCampaign")
    p [[campaign.description]]
    h2 Status
    p [[__statusDescription]]
    paper-button(hidden$="[[__published]]", on-tap="__publish") Publish
    paper-button(hidden$="[[!__published]]", on-tap="__unpublish") Unpublish

    h2 Images
    template(is="dom-if", if="[[!metadata.images.length]]")
      p No images yet. Upload some!
    template(is="dom-repeat", items="[[metadata.images]]", as="image")
      d4l-campaign-img(image="[[image]]", index="[[$index]]", on-remove="__removeImage")

    h2 Add Image
    hr
    bwt-uploader#uploader(target="/api/v1/image-upload", method="POST", body="{{__uploadResponse}}", placeholder="", accepted-file-types="image/png,image/jpg,image/jpeg,image/gif", max-file-size="5000")

  script(src="d4l-meme-details.js")
