link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/paper-styles/shadow.html")

link(rel="import", href="./d4l-theme.html")

//- shared styles for all views
dom-module(id="shared-styles")
  template
    style.
      h1 {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-primary-title);
      }
      h2 {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-secondary-title);
      }

      h3 {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-tertiary-title);
      }

dom-module(id="shared-layout-styles")
  template
    style.
      div:not([mobile])[name="list"] {
        margin-top: 64px;
        /*margin-left: 200px;*/
      }
      div[name="list"] {
        margin-top: 64px;
        padding-top: 20px;
      }
      div:not([mobile])[name="detail"] {
        /*margin-left: 32px;*/
        margin-top: 192px;
      }
      div[name="detail"] {
        margin-top: 192px;
      }

      .card {
        margin-bottom: 15px;
      }

      .one-column-card:not([mobile]) {
        width: 100%;
        margin-bottom: 15px;
      }
      .one-column-card {
        width: 90%;
        margin-bottom: 15px;
      }
      .two-column-card:not([mobile]) {
        width: 49%;
        margin-bottom: 15px;
      }
      .two-column-card:nth-child(odd):not([mobile]) {
        margin-right: 2%;
      }
      .two-column-card {
        width: 100%;
        margin-bottom: 15px;
      }

dom-module(id="shared-detail-styles")
  template
    style.
      h1 {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-primary-title);
        color: var(--default-primary-color);
      }
      h2 {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-secondary-title);
        color: var(--text-dark-primary-color);
      }

      p {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-large-primary-text);
        color: var(--text-dark-secondary-color);
        margin: 5px 0;
      }
      p.secondary, p[secondary] {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-primary-text);
        color: var(--text-dark-secondary-color);
        margin: 5px 0;
        margin-right: 15px;
      }

      paper-icon-button[icon="d4l-icons:add-circle"] {
        width: 38px;
        height: 38px;
        color: var(--text-dark-secondary-color);
      }
      iron-icon {
        width: 36px;
        height: 36px;
        margin-right: 10px;
        color: var(--text-dark-secondary-color);
      }
      iron-icon.secondary {
        width: 24px;
        height: 24px;
      }

      img.secondary {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 10px;
      }

dom-module(id="shared-card-styles")
  template
    style.
      .card {
        padding: 16px;
        background-color: #fff;
        margin: 0px;
      }

      h1 {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-small-card-primary-title);
        color: var(--text-dark-primary-color);
        /*margin-bottom:10px;*/
      }
      p, .third-line ::content span {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-small-card-primary-text);
        color: var(--text-dark-primary-color);
      }
      p.secondary, p[secondary], .third-line ::content span.secondary, .third-line ::content span[secondary] {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-small-card-secondary-text);
        color: var(--text-dark-secondary-color);
      }

dom-module(id="shared-layout-styles")
  template
    style.

dom-module#d4l-dialog-styles
  template
    style(include="d4l-theme")
    style.
      h1 {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-popup-primary-title);
        color: var(--default-primary-color);
      }
      h2 {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-popup-secondary-title);
        color: var(--text-dark-primary-color);
      }
      p {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-popup-primary-text);
        color: var(--text-dark-primary-color);
      }
      .dialog-header h2 {
        @apply(--d4l-font-common-base);
        @apply(--d4l-font-popup-primary-title);
        font-weight: 200 !important;
        color: white;
      }

      *[secondary] {
        font-weight: normal;
        font-size: 0.8em;
        color: var(--text-dark-secondary-color);
      }

      form {
        padding: 0 !important;
      }

      paper-dialog {
        margin: 0;
      }
      paper-item, paper-icon-item {
        cursor: pointer;
      }

      .dialog-header {
        background-color: var(--app-color-primary-grey);
        color: white;
        margin: 0 !important;
        padding: 4px 8px !important;
      }
      .dialog-header h2 {
        color: white;
      }
      paper-icon-button#close {
        width: 28px;
        height: 28px;
      }
      .dialog-body {
        margin: 0 0 20px !important;
        padding: 0 32px !important;
      }
      .dialog-footer {
        margin: 0 0 10px 0 !important;
        padding: 0 16px !important;
      }

      button.no-style {
        -webkit-appearance: none;
        border: 0;
        padding: 0;
        background: transparent;
      }

      paper-button {
        background-color: var(--default-primary-color);
        color: white;
        border-radius: 15px;
        padding: 5px 10px;
      }
      paper-icon-button#delete {
        width: 30px;
        height: 30px;
      }
